{
  "presets": [
    [
      "@babel/preset-env",
      {
        // TreeShaking
        "modules": false,
        "loose": true,
        "targets": {
          "browsers":[
            " >1%",
            "last 2 versions",
            "ie > 8"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators",{"decoratorsBeforeExport":true}]
  ] 
}